*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F2F2F2;
    margin: 0px;
}
header{
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: LightBlue;
}
#petnet{
    position: absolute;
    left: 50%;
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: LightBlue;
    margin-left: -166px;
}
#pesquise{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: 10px;
    height: 23px;
    padding-left: 10px;
    border-radius: 3px;
    border: solid 1px #E6E6E6;
}
#logout{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-width:0px;
    padding: 0px;
    background-color: LightBlue;
}
#head{
    position: relative;
    left: 50%;
    right: 0%;
    font-size: 25px;
    margin: 2% 0 0 -138.5px;
    width: 277px;
}
article{
    position: relative;
    left: 50%;
    top: 2%;
    right: 0%;
    border-radius: 3px;
    border: solid 1px #E6E6E6;
    width: 600px;
    height: auto;
    margin: 3% 0 0 -300px;
    background-color: white;
}
article img{
    width: 600px;
    height: auto;
    
}
article p.descricao{
    margin-left: 20px;
    margin-bottom: 0px;
}
article form .deleta{
    color: white;
    width: 65px;
    height: 37px;
    border-radius: 5px;
    background-color: red;
    border: 0px;
    float: right;
    margin-right: 150px;
    margin-bottom: 10px;
}
article form .mantem{
    color: white;
    width: 65px;
    height: 37px;
    border-radius: 5px;
    background-color: cornflowerblue;
    border: 0px;
    margin-left: 150px;
    margin-bottom: 10px;
}
.deleta,.mantem{
    cursor: pointer;
}
.nome{
    margin-left: 10px;
}
li{
    position: relative;
    top: 270px;
    list-style: none;
    float: left;
    margin-right: 50px;
}
li:hover{
    cursor: pointer;
}
n5{
    position: relative;
    top: 130px;
    left: 270px;
}